
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-17px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0);
    }

}

.bounce{
    animation-name: bounce;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

#aqua{
    width: 477px;
}
#burna{
    width: 477px;
}
.navbar{
    width: 100%;
    margin: 0;
}
.cc{
    padding-top: 20px;
}
.rz{
    width: 90%;
    margin: 0;
    display: flex;
    gap: 40vh;
}
.rz h1{
    font-size: 40px;
    color: white;
}
/* 
.navigator{
    background-color: hsl(0, 0%, 0%);
    position: sticky;
    top: 0;
    
    
}


.list-item{
    width: 100%;
   padding: 20px 10px;
   display: flex;
   margin-left: 400px;
   gap: 150px;
  
}

.list-item ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 100px;
   
}

.list-item ul a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
.button{
    padding: 14px 23px;
}
*/

.last{
    padding-top: 40px;
    margin-left: 110px;
    margin-right: 110px;
    border: 1px solid gold;
    padding: 10px 15px;
    
}

.lastpara{
    font-size: 2rem;
    padding: 20px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.fa-solid{
    height: 20px;
    width: 20px;
    background-color: gold;
    padding: 15px;
    color: white;
    font-size: 1rem;
}

.chill{
    background-color: black;
}

#arrow{
    top: 570px;
    left: 1290px;
    position: fixed;
    height:20px ;
    width: 20px;
    padding: 15px;
    color: white;
    font-size: 1rem;
    background-color: gold;
}
/*  
#head9{
    position: fixed;
    z-index: 2;
}*/

.header{
    font-size: 3rem;
    font-weight: bolder;
    margin-right: 0px;
    font-family:Poppins ;
    padding-top: 130px;
    color: whitesmoke;
    margin-left: 80px;
    margin-right: 30px;
    
}
@media screen and (max-width: 440px){
    .header{
        font-size: 2rem;
    }
    .para{
        font-size: 3px;
    }
    .lastpara{
        font-size: 1rem;
    }
}
.para{
  font-size: 20px;
  font-weight: bolder;
  margin-right: 0px;
  padding-top: 30px;
  color: whitesmoke;
  font-family:Poppins ;
  padding-bottom: 70px;
  margin-left: 80px;
}

.section-container{
    background-image: url(sot4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    

}

.wrap{
    white-space: nowrap;
}
footer{
    width: 100%;
    margin: auto;
}
.footer-section{
    width: 100%;
    margin: auto;
    background-image: linear-gradient(gray, black);
}

.footer-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    width: 80%;
    
}


 /*
@media screen and (max-width: 580px){
    
    .body{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    
    
    .header{
        font-size: 2.5rem;
    }
    .para{
        font-size: 1rem;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .tunda{
        width: min(10px, 15px);
       
    }
    
    .last{
        width:min(13px, 15px) ;
        
        justify-content: center;
    }
    .lastpara{
        font-size: 2px;
    }

}

@media screen and (max-width: 768px){
    .header{
        font-size: 4rem;
    }
    .para{
        font-size: 1.5rem;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    
    }

    .tunda{
        width: min(14px, 20px);
       
    }
    
    .last{
        width: 80px;
        
        justify-content: center;
    }
    .lastpara{
        font-size: 3px;
    }
    
}*/

.paragrap1{
    font-size: 35px;
    font-family: Poppins;
    padding-top: 20px;
}
.paragrap2{
    font-size: 35px;
    font-family: Poppins;
    padding-bottom: 25px;
    
}
.paragrap3{
    font-size: 35px;
    font-family: Poppins;
    padding-top: 20px;
}
.paragrap4{
    font-size: 35px;
    font-family: Poppins;
    
}
.paragrap5{
    font-size: 35px;
    font-family: Poppins;
    padding-top: 20px;
    padding-bottom: 25px;

}

.ba{
border: 1px solid black;
padding: 20px 21px;
background-color: gray;

}
.bts{
border: 1px solid black;
padding: 20px 21px;
background-color: gray;

}
.bc{
border: 1px solid black;
padding: 20px 21px;
background-color: gray;

}

.first-div{
    padding: 15px 100px;
   
    text-align: center;
}

.second-div{
    padding: 15px 100px;
   
    text-align: center;
}

.third-div{
    padding: 15px 100px;
   
    text-align: center;
}
.perfume{
    color: white;
    margin-top: 10px;
    margin-left: 13px;
}
.perfume1{
    color: white;
    margin-top: 10px;
    margin-left: 13px;
}
.perfume2{
    color: white;
    margin-top: 10px;
    margin-left: 13px;
}

@keyframes animate {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(40px);
    }
}

.animate{
    animation-name: animate;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: ;

}
@keyframes animation {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(40px);
    }
}

.animation{
    animation-name: animate;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count:infinite ;

}


.button-div{
    width: 80%;
}

.eye{
    background-color: black;
    color: white;
}

.last-button{
    padding: 18px 43px;
    margin-top: 0px;
    margin-left: 80px;
    border: 2px solid hsla(0, 0%, 0%, 0.745);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bolder;
    background-color: white;
    transition: all 3s;
}


.last-button:hover {
    transform: translateY(-10px);
    background-color: gold;
    color: black;
}
.last-button a{
    text-decoration: none;
    color: black;
}

.house {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.plan-container{
    text-align: center;
    margin-top: 0;
    justify-content: space-evenly;
    background-image: linear-gradient( black, steelblue);
}

#arrow{
    cursor: pointer;
}

.head3{
    font-size: 1.5rem;
    font-weight: lighter;
    color: gray;
    font-family: Poppins;
}
.head1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Poppins;
    padding-top: 36px;
    padding-bottom: 40px;
    color: hsl(0, 2%, 25%);
}
.isi1{
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: bolder;
    padding-bottom: 30px;
}
.isiaki{
    background-color: black;
}
.plan-para1{
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: bolder;
    padding-bottom: 8px;
}
.plan-percentage{
    font-size: 1.4rem;
    font-family:  Poppins;
    font-weight: bolder;
    padding-bottom: 20px;
}
.plan-para2{
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: bolder;
    padding-bottom: 30px;
}
.lighter-para1{
    font-size: 1.4rem;
    font-family: Poppins;
    color: gray;
    padding-bottom: 20px;
}
.lighter-para2{
    font-size: 1.4rem;
    font-family:  Poppins;
    color: gray;
    padding-bottom: 20px;
}
.lighter-para3{
    font-size: 1.4rem;
    font-family: Poppins;
    color: gray;
    padding-bottom: 20px;
}
.plan-btn{
    padding: 15px 24px;
    border: 1px solid black;
    background-color: gray;
    color: black;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
}

.plan-cup4{
    padding-top: 55px;
    
}
.plan-cup5{
    padding-top: 55px;
    
}
.plan-cup3{
    
}

.plan-cup2{
    
}

.plan-cup1{
    
   
    
}
.overal-head{
    font-family: Poppins;
    font-size: 3.6rem;
    font-weight: bolder;
    color:white;
}
.photo{
    background-color: gray;
}
.overal-para{
    font-family:  Poppins;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
} 
.bad{
    height: 80%;
    width: 100%;
    margin-bottom: 0;
    
}
@media screen and (max-width:515px){
    .overal-head{
        font-size: 1.5rem;
    }
}
/*

@media screen and (max-width: 576px){
   
   .body{
    align-content: center;
    justify-content: center;
   }
    .overal-head{
        font-size:1.4rem ;
    }
    .bad{
        width:20px;
    }
    .head3{
        font-size: 1rem;
    }
    .head1{
        font-size: 1.3rem;
    }
    .house{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 820px){
   
   .body{
    align-content: center;
    flex-flow: row wrap;
   }
    .overal-head{
        font-size:2rem ;
    }
    .bad{
        width:550px;
    }
    .head3{
        font-size: 1.2rem;
    }
    .head1{
        font-size: 1.5rem;
    }
    .house{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px){
   
   .body{
    align-content: center;
    flex-flow: row wrao;
   }
    .overal-head{
        font-size:3rem ;
    }
    .bad{
        width:800px;
    }
    .head3{
        font-size: 1.2rem;
    }
    .head1{
        font-size: 1.6rem;
    }
    .house{
        display: flex;
        flex-direction: column;
    }
}
*/
@keyframes slideInRight {

from {
    transform: translateX(-1400px);
}
to {
    transform: translateX(1400);
}
    
}
.overal{
    animation-name: slideInRight;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;

    background-color: gray;
    text-align: center;
    position: sticky;
    top: 0;
}

.baka{
    padding: 15px 24px;
    border: 1px solid white;
    background-color:gray;
    color: black;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: -1240px;
    transition: all, 2s;
}
    .baka:hover{
        transform: translateY(-10px);
        background-color: hsla(0, 0%, 0%, 0.88);
        color: white;
    }
    
.baka a{
    text-decoration: none;
    color: blacks;
}
.contact-container{
    background-image: linear-gradient(to right, black, steelblue);
    width: 100%;
    height: auto;
}
.img-div2{
    background-image: url(img7.jpg);
    background-size: 100% 100%;
text-align: center;
background-attachment: fixed;
}
.contact-head{
    font-size: 6rem;
    font-family: Poppins;
    font-weight: bolder;
    padding-top: 150px;
    color: white;
}
.contact-h3{
    font-size: 2rem;
    font-family: Poppins;
    font-weight: bolder;
    color: white;
    padding-top: 30px;
    padding-bottom: 55px;
}
.all-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    margin: auto;
    width: 80%;
}
.div-spoon{
    margin-top: 20px;
    width: 80%;
    
}
.contact-plate{
    margin-top: 20px;
    width: 80%;
}
.heading1{
    font-size: 2rem;
    font-weight: bold;
    color:aqua;
}
.heading02{
    font-size: 5rem;
    font-weight: bolder;
    color: white;
}
.contact-paragraph{
    font-size: 1.7rem;
    font-weight: lighter;
    color: white;
    padding-top: 10px;
}
.contact-paragraph2{
    font-size: 1.6rem;
    padding-top: 14px;
    color: aqua;
}
.heading{
    font-size: 1.4rem;
    padding-bottom: 15px;
    font-weight: bolder;
    margin-left: 200px;
}
.contact-para{
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-right: 84px;
    white-space: nowrap;

}
.full{
    font-size: 1.3rem;
    padding-bottom: 6px;
}
#fullname{
    width: 477px;
    height: 34px;
}
.user{
    font-size: 1.3rem;
    padding-bottom: 6px; 
}
#username{
    width: 477px;
    height: 34px;
}
.mail{
    font-size: 1.3rem;
    padding-bottom: 6px;
}
#email{
    width: 477px;
    height: 34px;
}
main{
    width: 100%;
    margin: auto;
}
@media screen and (max-width: 558px){
  #username{
    width: 300px;
  }
  #email{
    width: 300px;
  }
  
  #fullname{
    width: 300px;
  }
  #aqua{
    width: 300px;
  }
  #burna{
    width: 300px;
  }
  .heading{
    margin-left: 00px;
  }
  .contact-paragraph{
    font-size: 1rem;
    margin-right: 80px;
  }
  .ticking{
    font-size: 0.8rem;
    
  }
  
  .term{
    white-space: nowrap;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 465px){
    .contact-head{
        font-size: 2rem;
    }
    .heading02{
        font-size: 2rem;
    }
    #username{
        width: 150px;
      }
      #email{
        width: 150px;
      }
      
      #fullname{
        width: 150px;
      }
      #aqua{
        width: 150px;
      }
      #burna{
        width: 150px;
      }
}
.pass{
    font-size: 1.3rem;
    padding-bottom: 6px;
}
#aqua{
    padding-right: ;
    height: 34px;
}
.phone{
    font-size: 1.3rem;
    padding-bottom: 6px;
}
#burna{
    padding-right: px;
    height: 34px;
}
.count{
    font-size: 1.3rem;
    padding-bottom: 6px;
}
#country{
    width: 80px;
    height: 34px;
}
.ticking{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.term{
    color:seagreen;
}
.contact-btn{
    padding: 14px 30px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
    border: 0.9px solid black;
    border-radius: 0.5rem;

    transition: all 3s;
   
}

.contact-btn:hover{
    transform: translateY(-8px);
    background-color: green;
    color: white;
}
.about-us{
    background-color: hsla(0, 0%, 0%, 0.931);
}

.about-container{
    display: flex;
    gap: 60px;
    background-image: linear-gradient(to right, black, steelblue);
}
.about-heading{
    font-size: 1.3rem;
    font-weight: bolder;
    color: gray;
}
.about-head{
    font-size: 5rem;
    font-weight: bolder;
    
}
.about-para{
    font-size: 1.2rem;
}


.about-spoon{
    position: relative;
}

.about-img2{
    position: absolute;
    border: 0.8rem solid black;
    border-radius: 0.7rem;
    top: 330px;
    left: 200px;
}
@media screen and (max-width: 655px){
    .about-img2{
        left: 0;
    }
}

.backi{
    border: 3px solid steelblue;
    border-radius: 60%;
    margin-left: 320px;
    margin-top: 80px;
}

@media (max-width: 532px){
    .about-img1{
        width: 430px;
        
    }
    .about-head{
        font-size: 2.1rem;
    }
    .backi{
        margin-left: 200px;
    }
    .about-img2{
        width: 400px;
    }
}



.fiyure{
    margin-left: 316px; 
    margin-top: 5px;
}

.oduji{
        padding: 18px 43px;
        margin-left: 600px;
        margin-top: 50px;
        margin-bottom: 70px;
        border: 2px solid black;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        font-weight: bolder;
        background-color: steelblue;
    
        transition: all 3s;
    }
    
    .oduji:hover {
        transform: translateY(-10px);
        background-color: whitesmoke;
        color: white;
    }
    .oduji a{
        text-decoration: none;
        color: black;
    }

@media screen and ( max-width: 1113px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-plate{
        margin-top: 200px;
    }
    .oduji{
        align-content: center;
        margin-left: 40px;
    }
   
}



    .indigo{
        width: 100%;
        height: 100%;
    }
   
.tunda{
    width: 100%;
    height: 100%;
}
.oduji2{
    background-color: hsla(0, 0%, 0%, 0.947);
}
.upper{
    background-color: black;
    
}


.division-para{
    font-family: Poppins;
    font-size: 3.6rem;
    font-weight: bolder;
    color:white;
}

.blord{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    margin-right: 50px;
    
}

.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#icons{
    position: absolute;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
#fa{
    display: none;
}
#fa1{
    display: none;
}
@media (max-width: 992px) {
    .blord{
        padding: 1.3rem 5%;
    }
}

@media (max-width:700px){
    .rr{
        position: absolute;
        display: block;
        width: 40%;
        height: 100vh;
        background: blue;
        top: 0;
        left: -100%;
        transition: all .5s;
    }
    .rr a{
        display: block;
        font-size: 30px;
        line-height: 100px;
    }
    .rz{
        gap: 0px;
    }
    .cc{
        padding-top: 100px;
    }
    #fa1{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
        background-color: blue;
    }
    #fa{
        color: white;
        margin-left: 50vh; 
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        float: right;
        display: block;
        top: 10px;
    }
}
@media(max-width: 580px){
    #fa{
        margin-left: 25vh;
    }
    .rz{
        gap: 0px;
    }
}
@media (max-width: 463px){
    .about-img1{
        width: 380px;
        
    }
    .about-head{
        font-size: 2.1rem;
    }
    .backi{
        margin-left: 200px;
    }
    .about-img2{
        width: 350px;
    }
    .fiyure{
        margin-left: 170px;
    }
    .div-spoon{
        width: 60%;
        
    }
    .contact-plate{
        width: 60%;
      
    }
}
@media(max-width:400px){
    #fa{
        color: white;
         margin-left: 25vh; 
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        float: right;
        display: block;
        top: 10px;
    }
    .rr{
        position: absolute;
        display: block;
        width: 40%;
        height: 100vh;
        background: blue;
        top: 0;
        left: -100%;
        transition: all .5s;
    }
    .rz{
        gap: 0px;
    }
    .header{

        margin-left: 20px;
    }
    .para{
        margin-left: 20px;
    }
    .footer-container{
        width: 100%;
        margin: auto;
    }
    .footer-section{
        width: 100%;
        margin: auto;
    }
    .first-div{
        padding: 0;
        margin: 0;
    }
    .first-div p{
        font-size: 15px;
    
    }
}


/* nav{
    background-color: gray;
    height: 90px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.icons{
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    text-decoration: uppercase;
}

a.active,a:hover{
    background: steelblue;
    opacity: 4;
    transition: .5s;
}

.opencheck{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 25px;
    
} */

/* #check{
    display: none;
}
@media (max-width: 925px){
    label.logo{
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    #opencheck{
        display: block;
    }
    ul{
        position: fixed;
        width: 80%;
        height: 20px;
        top: 40px;
        left: -100%;
        transition: all.5s;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */